<div class="container">
	<h2>You successfully created the item: <%= grocery.item %></h2>

	<table class="table">
		<tr>
			<th>What to buy:</th>
			<th>Link to Item:</th>
			<th>Who need it?:</th>
		</tr>
			<td><%= grocery.item %></td>
			<td><a href="<%= grocery.linkToItem %>" target="_blank"><%= grocery.linkToItem %></td>
			<td><%= grocery.nameOfNeeder %></td>
		</tr>
	</table>
	<a class="btn btn-medium btn-primary" href="/grocery/edit/<%= grocery.id %>">edit item</a>
	<a class="btn btn-medium btn-success" href="/grocery/index/"> Go back to List</a>
</div>